//footer=======================================
.footer{
    background-color: black;
    height: 100px;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  