header ul{
    display: flex;
    margin: 50px;
}

.logo{
    position: absolute;
    top: -110px;
    left: 15px;
    z-index: 9899;
}

.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1152px;
    margin: auto;
}

.mainvisu{
    position: relative;
    text-align: center;
    z-index: 9000;
}

.top-title{
    position: absolute;
    top: 440px;
    left: 40px;
    font-family: "游ゴシック体", YuGothic;
    font-size: 20px;
}

.text-img{
    position: absolute;
    right: 2px;
    top: 236px;
    z-index: 9100;
}

.img-wrap {
    width: 1025px;
    position: relative;
}

.img-wrap img {
    width:100%;
    position: absolute;    
}

// もっと見る
.list-item{
    opacity: 1;
}
.list-item.is-hidden {
    display: none;
}
.list-btn {
    margin-top: 20px;
}
.list-btn.is-btn-hidden{
display:none;
}
.list-btn button {
    background-color: #333;
    color:#fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: 120px;
    z-index: 9999;
}
// もっと見るここまで