.post-title{
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
}
    #posts{
    width: 100%;
}

.posts-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post{
    width: 31%;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 50px;
}

li h2{
    font-family: "游ゴシック体", YuGothic;
    color: black;
    font-weight: lighter;
    font-size: medium;
    padding: 0 10px;
    box-sizing: border-box;
}

date{
    color: black;
    padding: 10px;
    box-sizing: border-box;
}

.readmore{
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-top: 70px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    right: 0;
}

a{
    text-decoration: none;
}

.post:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 5px;
    .underline::after {
        width: 95px;
      }
}

.underline {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding-bottom: 4px;
    position: relative;
  }
  
  .underline::after {
    background-color: black;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    right: 0;
    position: absolute;
    transition: .5s all;
    width: 20px;
  }
  
  .underline:hover::after {
    width: 95px;
  }

  .post a{
      height: 100%;
  }

  .thumbnail{
      width: 100%;
  }
  @media screen and (max-width: 767px) {
    .posts-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .contents{
        width: 85%;
        height: 100%;
    }
    .post{
        width: 100%; 
    }
    .post-title{
        margin-top: 30px;
        margin-bottom: 10px;
    }
  }

  .more_btn{
      text-align: center;
      color: white;
      background-color: black;
  }

  .btn_box{
      display: flex;
      justify-content: center;
  }
