body{
    font-family: "游ゴシック体", YuGothic;
    width: 1152px;
    margin-left: auto;
    margin-right: auto

}
@import "header.scss";

@import "main.scss";

@import "posts.scss";

@import "footer.scss";
